@import "tailwindcss";

@theme {
    --color-text: #D8E3F4;
    --color-background: #020509;
    --color-accent: #D36B5C;
    --color-primary: #8BAFE0;
    --color-secondary: #7F2251;
    --color-cards-dark: #0E1825;
    --color-cards-dark-inactive: #0F1317;
}