@import "tailwindcss";

@theme {
  --font-gugi: gugi, Helvetica, sans-serif;

  --color-text: #d8e3f4;
  --color-background: #020509;
  --color-accent: #d36b5c;
  --color-primary: #8bafe0;
  --color-secondary: #7f2251;
  --color-cards-dark: #0e1825;
  --color-cards-dark-inactive: #0f1317;
}

@font-face {
  font-family: gugi;
  src: url("./assets/fonts/Gugi-Regular.ttf");
}

html{
  scroll-behavior: smooth;
}